[user]
email=contact@zelinf.net
name=kokobd
[core]
editor=vim
preloadindex=true
excludesfile = ~/.gitignore
[commit]
gpgsign=true
[credential]
helper=store
[pull]
rebase=false
[push]
autosetupremote=true
[tag]
gpgsign=true
